body {
  background-image: url("./images/fondo.jpg");
}
.icon {
  width: 25px;
}
h3 {
  font-size: 17px;
  display: inline;
  text-align: center;
}

.contenido {
  background-color: rgba(22, 22, 25, 0.7);
}
