body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 25px;
}
h3 {
  font-size: 17px;
  display: inline;
  text-align: center;
}

.contenido {
  background-color: rgba(22, 22, 25, 0.7);
}
